DEBUG=True

SECRET_KEY=change-me

POSTGRES_DB=algotest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0

DHAN_CLIENT_ID=
DHAN_ACCESS_TOKEN=