Django>=5.2,<6.0
djangorestframework>=3.16
djangorestframework-simplejwt
django-cors-headers
dj-database-url
psycopg[binary]
python-dotenv
psycopg[binary]>=3.2
dj-database-url>=2.2
requests
pandas
numpy

gunicorn
whitenoise